<header>
    	<div class="container-fluid clearfix">
        	<a href="/" title="Metro Admin" class="pull-left">
            	<img src="/static/assets/images/logo.png" title="Flatron" alt="Flatron">
            </a>
        	<div class="user pull-right">
            	<a href="#" title="User Options" data-toggle="dropdown" class="pull-right">
                	<div class="pull-left">
                	<h5>{{ user.first_name }} {{ user.last_name }}</h5>

                    </div>

                </a>
                <ul class="dropdown-menu pull-right">

						<li><a href="#">Edit profile</a></li>
						<li><a href="#">Account settings</a></li>
						<li><a href="/userauth/logout/">Sign out</a></li>
				</ul>
            </div>
        </div>
    </header>
    <!--HEADER ENDS-->