 <aside id="left_panel">
    	<div class="container-fluid">
        	<form class="search_form clearfix">
            	<div class="search-input"><input type="text" placeholder="app search..."></div><input type="submit" class="icon-" value="&#xf002;">
            </form>
        </div>
		<nav id="aside_nav">
			<ul>
                <li class="active"><a href="/">Home</a> </li>
                <li ><a href="/elenco_gruppi/">Elenco Gruppi</a> </li>
                <li ><a href="/ultimi_movimenti/">Ultimi Movimenti</a> </li>
                <li ><a href="/fornitori/">Fornitori</a> </li>

			</ul>
		</nav>
    </aside>
    <!--ASIDE LEFT PANNEL ENDS-->